name: Create Repo From Template

on:
  workflow_dispatch:

env:
  GH_ADMIN_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
  ORGANIZATION_NAME: sadraliev
  PROJECT_NAME: "my-project"
jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Create repository
        uses: ./.github/actions/template-based-repo-creator
        with:
          token: ${{ env.GH_ADMIN_TOKEN }}
          template_owner: ${{ env.ORGANIZATION_NAME }}
          template_repo: "nestjs-template"
          new_repo_owner: ${{ env.ORGANIZATION_NAME }}
          new_repo_name: "backend-${{ env.PROJECT_NAME }}"
          private: true
